html,
body,
#root,
.page {
    height: 100%;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.page--inner {
    flex: 1;
}

.page--inner__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
